<div class="game-wrap">
    <div id="info-top">
        <div class="time-box">
            남은 시간 : <span id="remain-time">0</span> 초
        </div>
        <div class="score-box">
            점수 : <span id="now-score">0</span> 점
        </div>
    </div>
    <div class="play-wrap">
        <div id="text-box"><span class="quote">'시작'버튼을 눌러 <br>게임을 시작하세요!</span></div>
        <input type="text" id="type-input" placeholder="입력" autocomplete="off">
        <a href="#" title="게임시작" id="start-btn">시작</a>
    </div>
</div>