<div class="game-wrap">
    <div class="result-wrap">
        <p class="welldone">Mission Complete!</p>
        <div class="score-result">당신의 점수는 <span id="final-score">0</span>점입니다.</div>
        <p class="aver-text">단어 당 평균 답변 시간은 <span id="aver-sec">0</span>초 입니다</p>
        <a href="/" title="게임 다시시작" id="restart-btn">다시 시작</a>
    </div>
</div>